---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="Siraee • Not Found" favicon="../favicon.ico"/>
	</head>
	<body>
		<Nav />
		<div style="text-align: center;">
			<img src="https://media.giphy.com/avatars/404academy/kGwR3uDrUKPI.gif" alt="404 Not Found">
		</div>
		<Footer />
	</body>
</html>
